{% extends "base.html" %}
{% block title %}Add a new question {% endblock %}
{% block body%}
<body style="overflow-y: auto !important ;
    background: url(../static/img/assess.jpg); background-repeat: no-repeat;
  background-size: cover; background-color: white">

    <!-- Navigation -->
<div>
  <div class="row" style="margin-top: 2rem;">
    <div class="col-lg-12 col-sm-12">
       <div class="row h-100 justify-content-center align-items-center">
<div class="card border-light mb-3 shadow-lg" style="width: 60rem;">
  <div class="card-header">Add a New Question</div>
  <div class="card-body">
    {%  for message in get_flashed_messages() %}
            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 1rem; font-size: 15px; text-align: center;">
            {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
       <form class="form-example" method="POST" action="{{ url_for('addquestion')}}">
                {{ form.csrf_token }}
                {{ render_field(form.question, placeholder='Is the color of the spot not the same all over?')}}
                {{ render_field(form.subtext, placeholder='The color is not the same all over and may include shades of brown or black, sometimes with patches of pink, red, white, or blue.')}}
                
                <label style="margin-right: 1rem;"> Symptom of </label>
                <div class="form-check form-check-inline">
                  {{ render_checkbox(form.mel)}}
                  {{ render_checkbox(form.scc)}}
                  {{ render_checkbox(form.bcc)}}
                  {{ render_checkbox(form.mcc)}}
                </div>
              
                {{ render_field(form.imgFile)}}

                     <div class="d-flex justify-content-end">
              <button class="btn btn-outline-info" type="reset" style="margin: 5px;" onclick="location.href = '{{ url_for('dashboard')}}';"> Cancel
        </button>
   <button class="btn btn-info" type="submit" style="margin: 5px;"> Add Question
        </button>
  
</div>
      
          </form> 
            
   
            
       
    
                
               
              

             
       

      
    

  </div>
    
</div>
        
</div>
    </div>
  </div>
</div>

      

</body>
{% endblock %}