{% extends "base.html" %}
{% block title %}Assessment{% endblock %}
{% block body%}
<body style="overflow-y: auto !important ;
     background-repeat: repeat;
 background-color: #409bac">

    <!-- Navigation -->
<div>
  <div class="row" style="margin-top: 10rem;">
    <div class="col-lg-12 col-sm-12">
       <div class="row h-100 justify-content-center align-items-center">
<div class="card border-light mb-3 shadow-lg" style="width: 50rem;">
  <div class="card-header">Question</div>
  <div class="card-body">
      <div class="row">
      <div class="col-3">
          <img src="../static/img/spot.jpg" class="img-fluid" >
          </div>
            <div class="col-9">
   
                  <div class="row">
                       <h5 class="card-title">Is the color of the spot not the same all over?</h5>
    <div class="card-text">The color is not the same all over and may include shades of brown or black, sometimes with patches of pink, red, white, or blue.
                
                
                
                </div>
                </div>
        <div class="btn-toolbar" style="margin-top: 2rem;margin-left:7rem;">
             <button class="btn btn-outline-info" style="margin: 5px; width: 20%;"> Yes
        </button>
        <button class="btn btn-outline-danger" style="margin: 5px; width: 20%;">No</button>
       
      </div>
                
               
              

             
          </div>

      
      </div>

  </div>
    
</div>
        
</div>
    </div>
  </div>
</div>

      

</body>
{% endblock %}