{% extends "base.html" %}
{% block title %}Login as a specialist{% endblock %}
{% block body%}
<body style="overflow-y: hidden !important ;
    background: url(../static/img/patientdoctor.png); background-repeat: no-repeat;
  background-size: cover;">
    <!-- Navigation -->
<div>
  <div class="row h-100">
    <div class="col-8"> 
    </div>
    <div class="col-4">
       <div class="row h-100 justify-content-center align-items-center" style="margin-top: 7rem;">
              <div class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Login as a specialist</h5>
    <h6 class="card-subtitle mb-2 text-muted"></h6>
    <p class="card-text" style="line-height: 20px;">As a specialist, you may contribute to our system's database by adding and modifying disease definitions</p>
      <form class="form-example" method="POST" action="{{ url_for('login')}}">
                <!-- Input fields -->
                {{ form.csrf_token }}
                {{ render_field(form.email, placeholder=form.email.label.text)}}
                {{ render_field(form.password, placeholder=form.password.label.text, type='password')}}
               <div class="col text-center">
                 <button type="submit" class="btn btn-info btn-default">Login</button>
                </div>
            </form>
            {%  for message in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 1rem; font-size: 15px; text-align: center;">
            {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
              </div>
            </div>       
</div>
    </div>
  </div>
</div>
</body>
{% endblock %}